[Unit]
Description=QhtLink Firewall - qhtlfirewall
After=network.target
Before=qhtlwaterfall.service

[Service]
ExecStart=/usr/sbin/qhtlfirewall --initup
ExecStop=/usr/sbin/qhtlfirewall --initdown ; /usr/sbin/qhtlfirewall --stop
RemainAfterExit=yes
Type=oneshot
Restart=no

[Install]
WantedBy=multi-user.target
