[Unit]
Description=ConfigServer Firewall & Security - qhtlwaterfall
After=network.target qhtlfirewall.service

[Service]
LimitNOFILE=4096
ExecStart=/usr/sbin/lfd
Type=forking
PIDFile=/run/lfd.pid

[Install]
WantedBy=multi-user.target
