[Unit]
Description=ConfigServer Firewall & Security - qhtlfirewall
After=network.target
Before=qhtlwaterfall.service

[Service]
ExecStart=/usr/sbin/csf --initup
ExecStop=/usr/sbin/csf --initdown ; /usr/sbin/csf --stop
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
