[Unit]
Description=QhtLink Firewall - qhtlwaterfall
After=network.target qhtlfirewall.service

[Service]
LimitNOFILE=4096
ExecStart=/usr/sbin/qhtlwaterfall
Type=forking
PIDFile=/run/qhtlwaterfall.pid

[Install]
WantedBy=multi-user.target
