[Unit]
Description=QhtLink Firewall - qhtlwaterfall
After=network.target qhtlfirewall.service
ConditionPathExists=!/var/lib/qhtlfirewall/.installing

[Service]
LimitNOFILE=4096
ExecStart=/usr/sbin/qhtlwaterfall
ExecStartPre=/bin/rm -f /var/run/qhtlwaterfall.pid
ExecStartPre=/bin/mkdir -p /var/lib/qhtlfirewall /var/lib/qhtlfirewall/lock /var/lib/qhtlfirewall/stats /var/lib/qhtlfirewall/Geo /var/lib/qhtlfirewall/zone
ExecStartPre=/bin/chmod 0700 /var/lib/qhtlfirewall /var/lib/qhtlfirewall/lock /var/lib/qhtlfirewall/stats /var/lib/qhtlfirewall/Geo /var/lib/qhtlfirewall/zone
Type=forking
PIDFile=/var/run/qhtlwaterfall.pid
KillMode=process
TimeoutStartSec=30s
TimeoutStopSec=30s
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
